body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
    min-width: 1440px;
}

.container {
    width: 1158px;
}

main {
    flex-grow: 1;
}

img {
    display: block;
}

ul,
h1,
li,
h2,
h3,
p {
    margin: 0;
}

/*  ====== HEADER ======= */
.hdr {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #e7e9fc;
}

.sltn {
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.navigation {
    display: flex;
    align-items: center;

}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;

}

.logo {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    margin-right: 76px
}

.logo-part {
    color: #2e2f42;
}

ul {
    list-style: none;
}


.nav-list-item {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 24px 0;
}

.nav-item {
    padding: 24px 0;
}

.nav-list-item:hover,
.nav-list-item:focus {
    color: #404BBF;
}

.contacts {
    font-style: normal
}

.contacts-list {
    list-style: none;
    font-family: "Roboto", sans-serif;
    display: flex;
    gap: 40px;
}

.contacts-list-item {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.contacts-list-item:hover {
    color: #404BBF;
}

.contacts-list-item:focus {
    color: #404BBF;
}


/*  ====== MAIN ======= */

/*Solution*/

.solution-card {
    background-color: #2E2F42;
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    font-size: 56px;
    color: #ffffff;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    margin-top: 0;
    max-width: 496px;
}

.order-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    border: none;
    display: block;
    height: 56px;
}

.order-button:hover {
    background-color: #404BBF;
}


/*Benefits*/

.bnfts {
    width: 1168px;
}

.benefits {
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    gap: 24px;
}

.benefits-list-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.benefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4)
}

.benefits-list-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Our Team*/

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.team-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-texts {
    padding: 32px 0;
}

.team-list-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-card {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);

}

.team-list-item {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/*Our Portfolio*/
.portfolio {
    padding: 120px 0 120px 0;
    display: flex;
    justify-content: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
}

.portfolio-list-text-cntn {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
}

.portfolio-main-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*  ====== FOOTER ======= */
.page-footer {
    background-color: #2E2F42;
    padding: 100px 0;
}


.footer-logo {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-part {
    color: #f4f4fd;
}

.footer-text {
    font-size: 16px;
    line-height: 24px;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px
}